.complete-tasks{
    max-width: 400px;
    margin: auto;
    display: flex;
    justify-content:space-between;
    margin-top: -15px;
    font-family: Impact;
    font-weight: lighter;
}
.complete-tasks input{
    outline: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
label{
    font-size: 16pt;
    color: seagreen;
}
.clear-all{
    background: transparent;
    border-radius: 5px;
    border: 0.1em solid;
    height: 25px;
    cursor: pointer;
    color: darkgreen;
}
.clear-all:hover{
    background-color: darkred;
    transition: .5s;
    color: wheat;
    border: 0px;
    box-shadow: 1px 1px 5px black;
}